@font-face {
  font-family: 'Amazone';
  src: url('../fonts/17603.ttf') format('truetype');
}

div.page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/bk.png')
}

header {
  width: calc(100% - 600px);
  display: flex;
  justify-content: center;
}

aside.left {
  top: 0;
  left: 0;
  position: absolute;
}

aside.right {
  bottom: 0;
  right: 0;
  position: fixed;
}

header div.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*@media (min-width: 800px){*/
/*  header nav {*/
/*    width: 800px;  */
/*  }  */
/*}*/
header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

header nav span {
  padding: 10px 20px;
  cursor: pointer;
}

header nav span img {
  height: 60px;
  margin-left: 15px;
}

header nav span img:hover {
  transform: scale(1.3);
}

header nav span.selected {
  background-image: url("./images/sublab.png");
  background-size: cover;
}

div.lang-pad {
  position: absolute;
  display: flex;
  top: 0;
  right: 15px;
}

div.lang-pad span.btn {
  cursor: pointer;
  font-size: 12px;
}

div.lang-pad span.btn.selected {
  background-image: url("./images/sublang.png");
  background-size: 80px 50px;
  background-repeat: no-repeat;
}

div.lang-pad span.btn img {
  margin: 2px 9px 0px 8px;
  width: 60px;
  height: 40px;
}

div.lang-pad span.btn img:hover {
  transform: scale(1.5);
}

div.main {
  width: calc(100% - 600px);
}

section.sec-home div{
  display: grid;
}

section.sec-home img {
  width: 100%;
  height: 100%;
}


article {
  text-indent: 3em;
}

footer {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}

div.social {
  display: flex;
}

div.social:hover {
  
}

div.social .button {

}

div.social .button img {
  width: 20px;
  height: 20px;
  opacity: 0.3;
}

div.social .button img:hover {
  opacity: 0.9;
  width: 23px;
  height: 23px;
}


@media (max-width: 1024px ) {

  div.page {

  }

  div.lang-pad {
    position: static;
  }

  aside.left {
    position: static;
    height: 150px;
  }


  aside.right {
    display: none;
  }

  header {
    width: 100%;
  }

  div.main {
    width: 100%;
  }




  
}